<!--
  Crear reclamo
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
      <div class="my-2 my-lg-0">
          <!--<button type="button" class="btn btn-success" [routerLink]="''">HOME</button>-->
          <button type="button" class="btn btn-success" (click)="home()">HOME</button>
        </div>
    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
      <form class="form-inline" #formBuscar="ngForm" >
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar por nº reclamo" aria-label="Buscar" name="buscar" #buscar="ngModel" [(ngModel)]="buscador.numero" required>
        <button [routerLink]="['/verReclamo',buscador.numero]" class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!formBuscar.valid">Buscar</button>
      </form>
    </div>
    <div class="my-2 my-lg-0">
      <button type="button" class="btn btn-success" [routerLink]="'/login'">Iniciar Sesión</button>
    </div>
  </div>
</nav>

<form #formReclamo="ngForm"  id="formulario" (ngSubmit)="onSubmit(formReclamo)" *ngIf="mostrarForm==true">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" name="nombres" #nombres="ngModel" [(ngModel)]="reclamoForm.nombre" required>
    <div class="alert alert-danger" *ngIf="nombres.touched && !nombres.valid">
      <strong>¡Error!</strong> Campo obligatorio
    </div>
  </div>
  <div class="form-group">
    <label for="telefono">Telefono</label>
    <input type="number" class="form-control" name="telefono" #telefono="ngModel" [(ngModel)]="reclamoForm.telefono" required>
    <div class="alert alert-danger" *ngIf="telefono.touched && !telefono.valid">
      <strong>¡Error!</strong> Campo obligatorio
    </div>
  </div>
  <div class="form-group">
    <label >Email</label>
    <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"  name="email" #email="ngModel" [(ngModel)]="reclamoForm.email" placeholder="name@example.com"  required>
    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
      <strong>¡Error!</strong> El campo es obligatorio y debe ingresarse un correo valido
    </div>
  </div>
  <div class="form-group">
    <label for="adiministrador">Administrador de su comunidad</label>
    <select class="form-control" name="administrador" #administrador="ngModel" [(ngModel)]="reclamoForm.administrador" required>
      <option></option>
      <option *ngFor="let item of resultado">{{item.nombre}}</option>
      <option>Desconocido</option>
    </select>
    <p>**Si desconoce el administrador, seleccione la opción "Desconocido"</p>
    <div class="alert alert-danger" *ngIf="administrador.touched && !administrador.valid">
      <strong>¡Error!</strong> Campo obligatorio
    </div>
  </div>

  <div class="form-group">
    <label for="direccion">Dirección de su comunidad</label>
    <input type="text" class="form-control" name="direccion" #direccion="ngModel" [(ngModel)]="reclamoForm.direccion" placeholder="Ejercito 441 Torre A dpto 550"  required>
    
    <div class="alert alert-danger" *ngIf="direccion.touched && !direccion.valid">
      <strong>¡Error!</strong> Campo obligatorio
    </div>
  </div>
  <div class="form-group">
    <label for="problema">Descripción del problema</label>
    <textarea class="form-control" name="problema" #problema="ngModel" [(ngModel)]="reclamoForm.problema" rows="4" required></textarea>
    <div class="alert alert-danger" *ngIf="problema.touched && !problema.valid">
      <strong>¡Error!</strong> Campo obligatorio
    </div>
  </div>

  <input class="btn btn-success" type="submit" value="Enviar" [disabled]="!formReclamo.valid"/>
</form>

<div class="alert alert-success" *ngIf="mostrarForm==false">
  <strong>Reclamo Enviado</strong> Su numero de reclamo es {{numeroReclamo}}
</div>