<!--
  Ver reclamo
-->
<div id="verReclamo" *ngIf="reclamo">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Ultima Actualizacion</th>
        <th scope="col">Estado</th>
        <th scope="col">Solucion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{reclamo.fecha}}</td>
        <td>Mi Oct 11 2018 13:50</td>
        <td>{{reclamo.estado}}</td>
        <td>{{reclamo.solucion}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="reclamo.estado==terminado">
  <h3>Evaluación</h3>
  <p>Por favor evalue del 1 al 5.</p>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">2</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">3</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">4</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">5</label>
  </div>
  <button type="button" class="btn btn-success">Enviar Opinión</button>
</div>
</div>
<div class="alert alert-danger" *ngIf="existe==false">
  <strong>¡Error!</strong> El numero de reclamo no existe
</div>