<!--
  Ver reclamo
-->
<div class="text-right">
  <button type="button" class="btn btn-outline-success" routerLink="/">
    <i class="fas fa-arrow-left"></i>Volver
  </button>
</div>
<br>
<div id="verReclamo"  *ngIf="imprime=='Si'">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Problema</th>
        <th scope="col">Estado</th>
        <th scope="col">Solucion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{fecha}}</td>
        <td>{{reclamo.problema}}</td>
        <td>{{reclamo.estado}}</td>
        <td>{{reclamo.solucion}}</td>
      </tr>
    </tbody>
  </table>
 

<div class="alert alert-danger" *ngIf="existe==false">
  <strong>¡Error!</strong> El numero de reclamo no existe
</div>

<div class="card text-center" *ngIf="reclamo.estado=='Finalizado'" style="margin-top:100px;">
    <h3>¿La solución al reclamo fue la esperada?</h3>
    <form #Encuesta="ngForm">
        <div class="form-group">
        <select class="form-control" name="nota" #nota="ngModel" [(ngModel)]="encuesta.nota" required>
            <option>1-Totalmente en desacuerdo</option>
            <option >2-En desacuerdo</option>
            <option>3-Indeciso</option>
            <option>4-De acuerdo</option>
            <option>5-Totalmente de acuerdo</option>
          </select>
        </div>
        <input class="btn btn-success" type="button" (click)="Nuevaencuesta(Encuesta)" value="Enviar" [disabled]="!Encuesta.valid"/>
      </form>
  </div>
</div>


