<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
  crossorigin="anonymous">
<!------ Include the above in your HEAD tag ---------->

<!--menu horizontal-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills nav-stacked">
        <li [ngStyle]="opcion=='nada'&& {'background-color':'blue','color':'white', 'border-radius':'10px'}"><a ><i class="fa fa-home fa-fw"></i>Home</a></li>
        <li [ngStyle]="opcion=='admin' && {'background-color':'blue','color':'white', 'border-radius':'10px'}" (click)="cambiarOp('admin')"><a><i   class="fas fa-plus-circle"></i>Administrador</a></li>
        <li [ngStyle]="opcion=='comu' && {'background-color':'blue','color':'white', 'border-radius':'10px'}" (click)="cambiarOp('comu')"><a><i   class="fas fa-building"></i>Comunidad</a></li>
      </ul>
    </div>
    <div class="col-md-6 ">
      <ul class="nav nav-pills nav-stacked">
        <li [ngStyle]="accion=='nuevo'&& {'background-color':'blue','color':'white', 'border-radius':'10px'} " (click)="cambiarAc('nuevo')"><a><i   class="fas fa-plus-circle"></i>Nuevo</a></li>
        <li [ngStyle]="accion=='editar'&& {'background-color':'blue','color':'white', 'border-radius':'10px'}" (click)="cambiarAc('editar')"><a><i   class="fas fa-edit"></i>Editar</a></li>
        <li [ngStyle]="accion=='eliminar'&& {'background-color':'blue','color':'white', 'border-radius':'10px'}" (click)="cambiarAc('eliminar')"><a><i   class="fas fa-trash-alt"></i>Eliminar</a></li>
      </ul>
    </div>
  </div>
</div>

<!--
  Comunidad
-->

<!--Nueva comunidad-->
<div *ngIf="opcion=='comu'&&accion=='nuevo'" id=NuevaComun>
  <h3>Nueva Comunidad</h3>
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Nombre de la comunidad</label>
      <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Dirección</label>
      <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Administrador</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Sergio Román</option>
        <option>Manuel Montt</option>
        <option>Ejercito</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Numero de Edificios</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" value="2">
    </div>
    <div id="nombreEdificios">
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre edificio 1</label>
        <input type="" class="form-control" id="exampleFormControlInput1" placeholder="Torre A">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Nombre edificio 2</label>
        <input type="" class="form-control" id="exampleFormControlInput1" placeholder="Torre B">
      </div>
    </div>
  </form>
  <button type="button" class="btn btn-primary">Crear</button>
</div>


  <!--Editar comunidad-->
  <div id="editar" *ngIf="opcion=='comu'&&accion=='editar'">
    <h2>Editar comunidad</h2>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Comunidad</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Manuel Montt</option>
        <option>Ejercito</option>
      </select>

    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Administrador</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Sergio Román</option>
        <option>Ejercito</option>
      </select>
    </div>
    <button type="button" class="btn btn-primary">Editar</button>
 
</div>


<!--Eliminar comunidad-->
<div *ngIf="opcion=='comu'&&accion=='eliminar'">
  <h2>Eliminar comunidad</h2>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Comunidad</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Manuel Montt</option>
      <option>Ejercito</option>
    </select>
  </div>
  <button type="button" class="btn btn-danger">Eliminar</button>
</div>


<!--
  Administrador
-->

<!--Agregar Administrador-->
<div id="agregarAdministrador" *ngIf="opcion=='admin'&&accion=='nuevo'">
  <h2>Nuevo administrador</h2>
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Nombre</label>
      <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Mail</label>
      <input type="text" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Contraseña</label>
      <input type="password" class="form-control" id="exampleFormControlInput1">
    </div>

  </form>
  <button type="button" class="btn btn-primary">Agregar</button>
</div>
<!--BorrarAdministrador-->
<div id="eliminar" *ngIf="opcion=='admin'&&accion=='eliminar'">
  <h2>Eliminar administrador</h2>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Administrador</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Sergio Román</option>
      <option>Ejercito</option>
    </select>
  </div>
  <button type="button" class="btn btn-danger">Eliminar</button>
</div>

<!--Editar Administrador-->
<div id="editar" *ngIf="opcion=='admin'&&accion=='editar'">
  <h2>Editar administrador</h2>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Administrador</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Sergio Román</option>
      <option>Ejercito</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Mail</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="sergio@sercolex.cl">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Contraseña</label>
    <input type="password" class="form-control" id="exampleFormControlInput1">
  </div>
  <button type="button" class="btn btn-primary">Editar</button>
</div>