@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
body{margin-top:20px;}
.fa-fw {width: 2em;}



li:hover {
    cursor: pointer;
}

#formulario {
    border-radius: 2px;
    min-height: 332px;
    width: 500px;
    margin: 0px auto;
}
 
a{
     color: #258b47;
     font-size: 18px;
}

