<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">
  <script>$('.dropdown-toggle').dropdown()</script>
</head>
<div>
  
    <button type="button" class="btn btn-danger pull-right "   (click)="borrarStorage()">
      <i class="fas fa-sign-out-alt"></i>Cerrar sesión
    </button>
  </div>
<br>
<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="btn-group  mr-sm-1">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" (click)="cambiarOp('admin')">
    <i class="fas fa-user-tie"></i>Empleado
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" (click)="cambiarAc('nuevo')"><i class="fas fa-plus-circle"></i>Nuevo</a>
    <a class="dropdown-item" (click)="cambiarAc('editar')"><i class="fas fa-edit"></i>Editar</a>
    <a class="dropdown-item" (click)="cambiarAc('eliminar')"><i class="fas fa-trash-alt"></i>Eliminar</a>

  </div>
</div>
<div class="btn-group mr-sm-1"> 
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" (click)="cambiarOp('comu')">
    <i   class="fas fa-building"></i>Comunidad
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" (click)="cambiarAc('nuevo')"><i class="fas fa-plus-circle"></i>Nuevo</a>
    <a class="dropdown-item" (click)="cambiarAc('editar')"><i class="fas fa-edit"></i>Editar</a>
    <a class="dropdown-item" (click)="cambiarAc('eliminar')"><i class="fas fa-trash-alt"></i>Eliminar</a>

  </div>
</div>
<div class="btn-group mr-sm-1">
  <button type="button" class="btn btn-primary "  (click)="cambiarOp('reclamo')">
    <i class="fas fa-exclamation-triangle"></i>Reclamos
  </button>
</div>






</nav>




<!--
  Comunidad
-->
<div id="formulario">
  <!--Nueva comunidad-->
  <div *ngIf="opcion=='comu'&&accion=='nuevo'" id=NuevaComun>
    <div class="login-popup-wrap new_login_popup">
      <div class="login-popup-heading text-center">
        <h4><i class="fas fa-building" aria-hidden="true"></i> Nueva</h4>
      </div>
    </div>
    <form #formComunidad="ngForm" id="formulario1" (ngSubmit)="newComuni(formComunidad)">
      <div class="form-group">
        <label>Nombre de la comunidad</label>
        <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="nuevaComun.nombre"
          required>
        <div class="alert alert-danger" *ngIf="nombre.touched && !nombre.valid">
          <strong>¡Error!</strong> Campo obligatorio
        </div>
      </div>
      <div class="form-group">
        <label>Dirección</label>
        <input type="text" class="form-control" name="direccion" #direccion="ngModel" [(ngModel)]="nuevaComun.direccion"
          required>
        <div class="alert alert-danger" *ngIf="direccion.touched && !direccion.valid">
          <strong>¡Error!</strong> Campo obligatorio
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Administrador</label>
        <select class="form-control" name="administrador" #administrador="ngModel" [(ngModel)]="nuevaComun.administrador"
          required>
          <option *ngFor="let usuario of listaUser" >{{usuario.nombre}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="administrador.touched && !administrador.valid">
          <strong>¡Error!</strong> Campo obligatorio
        </div>
      </div>
      <form>
        <div class="form-group">
          <label>Numero de Edificios</label>
          <input type="number" class="form-control" name="numeross" #numeross="ngModel" [(ngModel)]="numeros" required>
          <div class="alert alert-danger" *ngIf="numeross.touched && !numeross.valid">
            <strong>¡Error!</strong> Campo obligatorio
          </div>
          <button type="submit" (click)="asignar(numeros)">Asignar nombres</button>
        </div>

        <form #formTorres="ngForm" id="torre" *ngIf="numeros">
          <div id="nombreEdificios" *ngFor="let item of repetir;let i = index">
            <div class="form-group">
              <label>Edificio {{i+1}}</label>
              <input type="text" class="form-control" name="nombreDep" #nombreDep="ngModel" [(ngModel)]="nuevaComun.torreDpto[i]"
                required placeholder="Nombre, letra o número">
            </div>
          </div>
        </form>
      </form>
      <button type="submit" class="btn btn-primary">Crear</button>

    </form>

  </div>


  <!--Editar comunidad-->
  <div id="editar" *ngIf="opcion=='comu'&&accion=='editar'">
    <div class="login-popup-wrap new_login_popup">
      <div class="login-popup-heading text-center">
        <h4><i class="fas fa-building" aria-hidden="true"></i> Editar</h4>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Comunidad</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Manuel Montt</option>
        <option>Ejercito</option>
      </select>

    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Administrador</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Sergio Román</option>
        <option>Ejercito</option>
      </select>
    </div>
    <button type="button" class="btn btn-primary">Editar</button>

  </div>


  <!--Eliminar comunidad-->
  <div *ngIf="opcion=='comu'&&accion=='eliminar'">
    <div class="login-popup-wrap new_login_popup">
      <div class="login-popup-heading text-center">
        <h4><i class="fas fa-building" aria-hidden="true"></i> Eliminar</h4>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Comunidad</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Manuel Montt</option>
        <option>Ejercito</option>
      </select>
    </div>
    <button type="button" class="btn btn-danger">Eliminar</button>
  </div>


  <!--
  Administrador
-->

  <!--Agregar Administrador-->
  <div id="agregarAdministrador" *ngIf="opcion=='admin'&&accion=='nuevo'">
    <div class="login-popup-wrap new_login_popup">
      <div class="login-popup-heading text-center">
        <h4><i class="fas fa-user-tie" aria-hidden="true"></i> Nuevo</h4>
      </div>
    </div>
    <form #formAdministrador="ngForm" id="formulario" (ngSubmit)="newUsuario(formAdministrador)">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="nuevoUsuario.nombre"
          required>
        <div class="alert alert-danger" *ngIf="nombre.touched && !nombre.valid">
          <strong>¡Error!</strong> Campo obligatorio
        </div>
      </div>
      <div class="form-group">
        <label>Mail</label>
        <input type="email" class="form-control"  pattern="[a-z0-9._%+-]+@sercolex\.cl" name="mail" #mail="ngModel" [(ngModel)]="nuevoUsuario.mail" required>
        <div class="alert alert-danger" *ngIf="mail.touched && !mail.valid">
          <strong>¡Error!</strong> Este campo es obligatorio y el correo tiene que ser @sercolex.cl
        </div>
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="form-control" name="clave" #clave="ngModel" [(ngModel)]="nuevoUsuario.clave"
          required>
        <div class="alert alert-danger" *ngIf="clave.touched && !clave.valid">
          <strong>¡Error!</strong> Campo obligatorio
        </div>
      </div>
      <div class="form-group">
        <label>Tipo de usuario</label>
        <select class="form-control" name="usuario" #usuario="ngModel" [(ngModel)]="nuevoUsuario.usuario" required>
          <option>Administrador</option>
          <option>Secretaria</option>
          <option>Gerente</option>
        </select>
      </div>
      <button type="submit" [disabled]="!formAdministrador.valid" class="btn btn-primary">Agregar</button>
    </form>

  </div>
  <!--BorrarAdministrador-->
  <div id="eliminar" *ngIf="opcion=='admin'&&accion=='eliminar'">
    <div class="login-popup-wrap new_login_popup">
      <div class="login-popup-heading text-center">
        <h4><i class="fas fa-user-tie" aria-hidden="true"></i> Eliminar</h4>
      </div>
    </div>
    <form #formEliminarAdmin="ngForm" id="formulario" (ngSubmit)="deleteUsuario(formEliminarAdmin)">
    <div class="form-group">
      <label >Empleado</label>
      <select class="form-control" name="idUsuario" #idUsuario="ngModel" [(ngModel)]="idDelete">
        <option *ngFor="let usuario of allUser">{{usuario.nombre}}</option>
      
      </select>
    </div>
    <button type="submit" class="btn btn-danger">Eliminar</button>
  
</form>
</div>

  <!--Editar Administrador-->
  <div id="editar" *ngIf="opcion=='admin'&&accion=='editar'">
    <div class="login-popup-wrap new_login_popup">
      <div class="login-popup-heading text-center">
        <h4><i class="fas fa-user-tie" aria-hidden="true"></i> Editar</h4>
      </div>
    </div>
    <form>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Empleado</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Sergio Román</option>
        <option>Ejercito</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Mail</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" value="sergio@sercolex.cl">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Contraseña</label>
      <input type="password" class="form-control" id="exampleFormControlInput1">
    </div>
    <button type="button" class="btn btn-primary">Editar</button>
  </form>
  </div>

  <!--
  Reclamos
-->
<div  *ngIf="opcion=='reclamo'">
    
        <div >
          <h3 >Externos</h3>
        <table class="table table-striped ">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Transcurrido</th>
              <th scope="col">Comunidad</th>
              <th scope="col">Dirección</th>
              <th scope="col">Residente</th>
              <th scope="col">Descripción</th>
              <th scope="col">Estado</th>
              <th scope="col">Solucion</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
              <ng-container *ngFor="let reclamo of reclamos;let indice = index">
            <tr *ngIf="reclamo.estado==='Externo'" >
              <td>{{fechaDate[indice]}}</td>
              <td>{{transcurrido[indice]}}</td>
              
              <td>
                  <div class="form-group col-md-12 col-xl-12 col-xs-12">
                    <select id="inputState" class="form-control"  name="comu" #comu="ngModel" [(ngModel)]="reclamo.comunidad" required>
                      <option selected *ngFor="let item of allComunidad">{{item.nombre}}</option>
                    </select>
                  </div>
              </td>
              <td>{{reclamo.direccion}}</td>
              <td>{{reclamo.nombre}}</td>
              <td>{{reclamo.problema}}</td>
              <td>
                <div class="form-group col-md-12 col-xl-12 col-xs-12">
                  <select id="inputState" class="form-control" name="estado" #estado="ngModel" [(ngModel)]="reclamo.estado" required>
                    <option selected>{{reclamo.estado}}</option>
                    <option *ngIf="reclamo.estado!='En proceso'">En proceso</option>
                    <option *ngIf="reclamo.estado!='Externo'">Externo</option>
                    <option *ngIf="reclamo.estado!='Finalizado'">Finalizado</option>
                  </select>
                </div>
              </td>
              <td>
                <div class="form-group" >
                  <input  type="text" class="form-control" name="solucion" #solucion="ngModel" [(ngModel)]="reclamo.solucion" required>
                </div>
              </td>
              <td>
              <button type="submit" (click)="Actualizar(reclamo)" class="btn btn-primary">Actualizar</button>
            </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
        </div>
        
        <div *ngFor="let comunidad of allComunidad">
          <div  style="margin-bottom: 30ps;">
          <h2 >{{comunidad.nombre}}</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Transcurrido</th>
              <th scope="col">Comunidad</th>
              <th scope="col">Dirección</th>
              <th scope="col">Residente</th>
              <th scope="col">Descripción</th>
              <th scope="col">Estado</th>
              <th scope="col">Solucion</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
              <ng-container *ngFor="let reclamo of reclamos;let indice = index">
             
            <tr *ngIf="reclamo.comunidad===comunidad.nombre">
              
              <td >{{fechaDate[indice]}}</td>
              <td>{{transcurrido[indice]}}</td>
              
              <td>
                  <div class="form-group col-md-12 col-xl-12 col-xs-12">
                    <select id="inputState" class="form-control"  name="comu" #comu="ngModel" [(ngModel)]="reclamo.comunidad" required>
                      <option selected *ngFor="let item of comunidades">{{item.nombre}}</option>
                    </select>
                  </div>
              </td>
              <td>{{reclamo.direccion}}</td>
              <td>{{reclamo.nombre}}</td>
              <td>{{reclamo.problema}}</td>
              <td>
                <div class="form-group col-md-12 col-xl-12 col-xs-12">
                  <select id="inputState" class="form-control" name="estado" #estado="ngModel" [(ngModel)]="reclamo.estado" required>
                    <option selected>{{reclamo.estado}}</option>
                    <option *ngIf="reclamo.estado!='En proceso'">En proceso</option>
                    <option *ngIf="reclamo.estado!='Externo'">Externo</option>
                    <option *ngIf="reclamo.estado!='Finalizado'">Finalizado</option>
                  </select>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text"  class="form-control" name="solucion" #solucion="ngModel" [(ngModel)]="reclamo.solucion" required>
                </div>
              </td>
              <td>
              <button type="submit" (click)="Actualizar(reclamo)" class="btn btn-primary">Actualizar</button>
            </td>
            </tr>
          </ng-container>
        
          </tbody>
        </table>
        </div>
        </div>
        
</div>

</div>
