<div>
  
  <button type="button" class="btn btn-danger float-right "   (click)="borrarStorage()">
    <i class="fas fa-sign-out-alt"></i>Cerrar sesión
  </button>
  <br>
  <br>
</div>
<div id="AsignarAdministrador">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Dirección</th>
          <th scope="col">Seleccione el administrador</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let iteme of reclamos;let indice = index">
          <td>{{iteme.fecha}}</td>
          <td>{{iteme.direccion}}</td>
          <td>
            <div class="form-group col-md-12 col-xl-12 col-xs-12">
              <select id="inputState" class="form-control" name="admin" #admin="ngModel" [(ngModel)]="iteme.administrador">
                <option selected *ngFor="let item of admini">{{item.nombre}}</option>
              </select>
            </div>
          </td>
          <button type="button" (click)="Actualizar(iteme,indice)" class="btn btn-primary" >Enviar</button>
        </tr>
      </tbody>
    </table>
    
  </div>
  <div class="alert alert-danger" *ngIf="actualizar==false">
    <strong>¡Error!</strong> No se pudo actualizar
  </div>