<div id="AsignarAdministrador">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Dirección</th>
          <th scope="col">Seleccione el administrador</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <th>56343</th>
          <td>Mi 10 Oct 14:50</td>
          <td>Pedro de Valdivia 543 torre A dpto 105</td>
          <td>
            <div class="form-group col-md-12 col-xl-12 col-xs-12">
              <select id="inputState" class="form-control">
                <option selected>"Sergio Román"</option>
              </select>
            </div>
          </td>
          <button type="button" class="btn btn-primary">Enviar</button>
        </tr>
      </tbody>
    </table>
    
  </div>