<div id="AsignarAdministrador">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Dirección</th>
          <th scope="col">Seleccione el administrador</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let iteme of reclamos">
          <td>{{iteme.fecha}}</td>
          <td>{{iteme.direccion}}</td>
          <td>
            <div class="form-group col-md-12 col-xl-12 col-xs-12">
              <select id="inputState" class="form-control" name="admin" #admin="ngModel" [(ngModel)]="iteme.administrador">
                <option selected *ngFor="let item of admini">{{item.nombre}}</option>
              </select>
            </div>
          </td>
          <button type="button" (click)="Actualizar(iteme)" class="btn btn-primary">Enviar</button>
        </tr>
      </tbody>
    </table>
    
  </div>