.btn-primary
{
    margin-top: 0px;


}

.btn-danger
{
    margin-bottom: 20px;


}

a{
    color: #258b47;
    font-size: 18px;
}

a:hover {
    cursor: pointer;
}

li:hover {
    cursor: pointer;
}
